name: ice
description: Ice Flutter Project

publish_to: "none"

version: 0.0.0+1

environment:
  sdk: ">=3.4.1 <4.0.0"
  flutter: "3.24.2"

dependencies:
  back_button_interceptor: ^7.0.3
  cached_network_image: ^3.3.1
  camera: ^0.11.0+2
  collection: ^1.18.0
  cupertino_icons: ^1.0.6
  dotted_border: ^2.1.0
  email_validator: ^2.1.16
  flutter:
    sdk: flutter
  flutter_animate: ^4.5.0
  flutter_dotenv: ^5.1.0
  flutter_hooks: ^0.20.5
  flutter_keyboard_visibility: ^6.0.0
  flutter_localizations:
    sdk: flutter
  flutter_quill: ^10.7.5
  flutter_screenutil: ^5.9.0
  flutter_svg: ^2.0.10+1
  freezed_annotation: ^2.4.1
  go_router: ^14.2.0
  hooks_riverpod: ^2.5.1
  image_cropper: ^8.0.2
  image_picker: ^1.1.2
  intl: any
  ion_identity_client:
    path: packages/ion_identity_client
  json_annotation: ^4.8.1
  lottie: ^3.1.0
  markdown_quill: ^4.1.0
  mocktail: ^1.0.4
  mutex: ^3.1.0
  nostr_dart:
    git: https://github.com/ice-blockchain/nostr-dart.git
  permission_handler: ^11.3.0
  photo_manager: ^3.3.0
  photo_manager_image_provider: ^2.1.1
  qr_code_scanner: ^1.0.1
  qr_flutter: ^4.1.0
  riverpod_annotation: ^2.3.5
  share_plus: ^10.0.2
  shared_preferences: ^2.2.2
  shimmer: ^3.0.0
  smooth_sheets: ^1.0.0-f324.0.9.4
  timeago: ^3.6.1
  timeago_flutter: ^3.6.0
  url_launcher: ^6.0.12
  video_player: ^2.9.1
  video_player_win: ^2.3.11
  widgetbook: ^3.7.1
  widgetbook_annotation: ^3.1.0
  window_manager: ^0.4.2

dev_dependencies:
  build_runner: ^2.4.8
  custom_lint: ^0.6.4
  flutter_gen: ^5.3.1
  flutter_gen_runner: ^5.3.1
  flutter_hooks_lint: ^1.2.0
  flutter_launcher_icons: ^0.13.1
  flutter_test:
    sdk: flutter
  freezed: ^2.4.1
  go_router_builder: ^2.7.0
  json_serializable: ^6.7.1
  melos: ^6.1.0
  riverpod_generator: ^2.4.2
  riverpod_lint: ^2.3.12
  very_good_analysis: ^5.1.0
  widgetbook_generator: ^3.7.0

flutter:
  generate: true
  uses-material-design: true
  fonts:
    - family: NotoSans
      fonts:
        - asset: assets/fonts/NotoSans-Black.ttf
        - asset: assets/fonts/NotoSans-BlackItalic.ttf
        - asset: assets/fonts/NotoSans-Bold.ttf
        - asset: assets/fonts/NotoSans-BoldItalic.ttf
        - asset: assets/fonts/NotoSans-ExtraBold.ttf
        - asset: assets/fonts/NotoSans-ExtraBoldItalic.ttf
        - asset: assets/fonts/NotoSans-ExtraLight.ttf
        - asset: assets/fonts/NotoSans-ExtraLightItalic.ttf
        - asset: assets/fonts/NotoSans-Italic.ttf
        - asset: assets/fonts/NotoSans-Light.ttf
        - asset: assets/fonts/NotoSans-LightItalic.ttf
        - asset: assets/fonts/NotoSans-Medium.ttf
        - asset: assets/fonts/NotoSans-MediumItalic.ttf
        - asset: assets/fonts/NotoSans-Regular.ttf
        - asset: assets/fonts/NotoSans-SemiBold.ttf
        - asset: assets/fonts/NotoSans-SemiBoldItalic.ttf
        - asset: assets/fonts/NotoSans-Thin.ttf
        - asset: assets/fonts/NotoSans-ThinItalic.ttf
  assets:
    - .app.env
    - lib/app/templates/basic.json
    - assets/videos/
    - assets/lottie/
    - assets/svg/
    - assets/images/
    - assets/images/wallet/
    - assets/images/bg/
    - assets/images/logo/
    - assets/images/qr_code/
    - assets/images/notifications/

flutter_gen:
  output: lib/generated/

  integrations:
    lottie: true

# Because every version of ion_identity_client from path depends on passkeys ^2.0.9 and no versions of passkeys match >2.0.9 <3.0.0, every version of ion_identity_client from path requires passkeys 2.0.9.
# And because passkeys 2.0.9 depends on passkeys_web ^2.0.2, every version of ion_identity_client from path requires passkeys_web ^2.0.2.
# Because passkeys_web 2.0.2 depends on js ^0.7.1 and no versions of passkeys_web match >2.0.2 <3.0.0, passkeys_web ^2.0.2 requires js ^0.7.1.
# Thus, every version of ion_identity_client from path requires js ^0.7.1.
# And because qr_code_scanner 1.0.1 depends on js ^0.6.3 and no versions of qr_code_scanner match >1.0.1 <2.0.0, ion_identity_client from path is incompatible with qr_code_scanner ^1.0.1.
# So, because ice depends on both qr_code_scanner ^1.0.1 and ion_identity_client from path, version solving failed.
dependency_overrides:
  js: ^0.7.1
